# Hello, Jupyter 👋

Jupyter Notebookを利用するとPythonなどのスクリプトを対話的に実行した結果をノートブックとしてまとめることができます。

Jupyter Notebook から演習用の MySQL サーバーにアクセスするため `ipython-sql` と `pymysql` というモジュールをインストールしましょう。実行したいセルにフォーカスを当て Shift キーと Enter キーを押すと対応するコードが実行されます。

In [ ]:
! pip install ipython-sql pymysql # TODO: RUN ME :-)

以下のコマンドで SQL を実行するための拡張機能を Jupyter にインストールできます。

In [1]:
%load_ext sql
# TODO: RUN ME :-)

#### 演習用MySQLサーバーの接続情報について

- ホスト名: `10.0.1.100`
- ユーザー名: `hello`
- パスワード: `world`
- データベース名: `employees`

以下のように記述すると SQL クエリを実行することができます。

In [2]:
%%sql mysql+pymysql://hello:world@10.0.1.100/employees
-- Here is a SQL comment.
-- TODO: RUN ME :-)
select count(1) from employees

1 rows affected.

[(300024,)]

2回目以降は1行目の接続情報の記述は不要です

In [3]:
%%sql
-- TODO: RUN ME :-)
select
    *
from
    employees
limit 3

 * mysql+pymysql://hello:***@10.0.1.100/employees
3 rows affected.

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)),
 (10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21)),
 (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))]